NODE_ENV=development
APP_URL=http://localhost:3000
MONGODB_URI=
AUTH_SECRET=
AUTH_TRUST_HOST=true
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=
NEXT_PUBLIC_PUSHER_KEY=
NEXT_PUBLIC_PUSHER_CLUSTER=
CLOUDINARY_URL=
RESEND_API_KEY=
SENTRY_DSN=
